.App {
  font-family: Arial, sans-serif;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
